
<!--
this _includes filters the legend list items based on the current tab page content.
'dynamic' classname is used to distinguish dynamically-filtered _include instances
from those which aren't (a non-dynamic one is in the standalone legend page).
'hidden' classname is used to fight the FOUC: hide the wrapper initially,
then reveal it after item filtering is done.
-->

{% assign wrapper_classname = 'dynamic-legend' %}
{% assign tab_page_wrapper_classname = 'tab-wrapper' %}

<div class="{{ wrapper_classname }} hidden">
    {% include symbol-definitions.html %}
    <a href="{{ 'legend' | relative_url }}">full legend</a>
</div>

<script>
    function tokenizeDomContent(elements) {
        return elements
            // collect text from all elements
            .map(el => el.textContent)
            // join all elements' text to one string
            .join('')
            // split it to single characters
            .split('')
    }

    // lookup symbols in the tab page tab-boxes, to include them
    const tabBoxEls = [...document.querySelectorAll('.{{ tab_page_wrapper_classname }} pre code:not(.language-bbx-melody)')];
    const tabSymbols = new Set(tokenizeDomContent(tabBoxEls));
    // lookup symbols in the tab page legend
    const tabLegendTermEls = [...document.querySelectorAll('.{{ tab_page_wrapper_classname }} dl dt')];
    const tabLegendSymbols = tokenizeDomContent(tabLegendTermEls);

    // omit any symbol that is already found in the tab page legend
    tabLegendSymbols.forEach(s => tabSymbols.delete(s));

    // filter out any items that weren't found in tab-boxes,
    // or were found in the tab page legend
    const legendTermEls = [...document.querySelectorAll('.{{ wrapper_classname }} dl dt')];
    const legendDescEls = [...document.querySelectorAll('.{{ wrapper_classname }} dl dd')];
    const visibleItemsIndexes = legendTermEls.map((dtEl, i) => {
        if (!tabSymbols.has(dtEl.textContent)) {
            dtEl.classList.add('hidden');
            legendDescEls[i].classList.add('hidden');
        } else {
            return String(i)
        }
    });

    // if not all items were hidden, reveal the wrapper
    if (visibleItemsIndexes.some(Boolean)) {
        const wrapperEl = document.querySelector('.{{ wrapper_classname }}');
        wrapperEl.classList.remove('hidden');
    }
</script>
