
@font-face {
  font-family: 'Bestie Seventy';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/bestie-seventy.ttf');
  src: url('../fonts/bestie-seventy.ttf') format('truetype');
}

@font-face {
  font-family: 'Icky Ticket Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/icky-ticket-mono.ttf');
  src: url('../fonts/icky-ticket-mono.ttf') format('truetype');
}

@font-face {
  font-family: 'Targa MS Hand';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/targa-ms-hand.ttf');
  src: url('../fonts/targa-ms-hand.ttf') format('truetype');
}
