---
---

@import "{{ site.theme }}";

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
  background-color: #f2f2f2;
}

a, a:hover, a:focus {
  color: hotpink;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #444;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

header p {
  font-variant: all-small-caps;
  font-size: 1.2em;
  line-height: 1.2;
}

footer {
  display: none;
}