---
layout: page
---

<div class="tab-wrapper">
{{ content }}

    <div class="action-buttons">
        <input id="compactify-tab-button" title="
    &nbsp;&nbsp;&nbsp;toggle compact tabs&nbsp;&nbsp;&nbsp;
" type="checkbox"/>
        <label for="compactify-tab-button">^ / v</label>
{% unless page.previous.url %}
    {% assign prevClassName = 'disabled' %}
{% endunless %}
{% unless page.next.url %}
    {% assign nextClassName = 'disabled' %}
{% endunless %}
        <a href="{{ page.previous.url | relative_url }}" id="prev-tab-button" class="{{ prevClassName }}" title="
&nbsp;&nbsp;&nbsp;previous&nbsp;&nbsp;&nbsp;
">&lt;-</a>
        <a href="{{ page.next.url | relative_url }}" id="next-tab-button" class="{{ nextClassName }}" title="
&nbsp;&nbsp;&nbsp;next&nbsp;&nbsp;&nbsp;
">---&gt;</a>
    </div>
</div>

<script>
    function splitLines(rawText) {
        return rawText.split('\n').filter(Boolean)
    }

    function compactifyTab(rawTab, blankChar = '-') {
        const rows = splitLines(rawTab)
        const columnIndexes = [...Array(rows[0].length).keys()]

        return columnIndexes.map(colIndex => (
            rows.reduce((accum, row) => (
                row[colIndex] !== blankChar ? row[colIndex] : accum
            ), blankChar)
        )).join('')
    }

    function toggleTabCompactMode() {
        const oldIsCompact = !!+window.localStorage.getItem('tab-compact-mode')
        const newIsCompact = !oldIsCompact
        applyTabCompactMode(newIsCompact);
        window.localStorage.setItem('tab-compact-mode', String(+newIsCompact))
    }

    function applyTabCompactMode(isCompact) {
        const tabBoxEls = [...document.querySelectorAll('.tab-wrapper pre code:not(.language-bbx-melody)')]

        tabBoxEls.map(el => {
            if (isCompact) {
                el.setAttribute('data-initial-content', el.textContent)
                el.textContent = compactifyTab(el.textContent)
            } else if (el.hasAttribute('data-initial-content')) {
                el.textContent = el.getAttribute('data-initial-content')
                el.removeAttribute('data-initial-content')
            }
        })
    }

    function handleActionButtonKeyboardBindings (e) {
        const {key, shiftKey} = e;

        if (!shiftKey) {
            return;
        }
        let elSelector;
        switch (key) {
            case 'ArrowRight':
                elSelector = '#next-tab-button';
                break;
            case 'ArrowLeft':
                elSelector = '#prev-tab-button';
                break;
            case 'ArrowUp':
                elSelector = '#compactify-tab-button';
                break;
            default:
                return;
        }
        const actionBtnEl = document.querySelector(`${elSelector}:not(.disabled)`);
        if (!actionBtnEl) {
            return;
        }

        actionBtnEl.click();
        e.preventDefault();
    }

    function loadUIState() {
        const isTabCompactMode = !!+window.localStorage.getItem('tab-compact-mode');
        document.querySelector('#compactify-tab-button').checked = isTabCompactMode
        applyTabCompactMode(isTabCompactMode)
    }

    function bindListeners() {
        document.querySelector('#compactify-tab-button').addEventListener('change', toggleTabCompactMode)
        document.addEventListener('keydown', handleActionButtonKeyboardBindings)
    }

    function main() {
        loadUIState()
        bindListeners()
    }

    main()
</script>
