---
layout: page
---

<div class="tab-wrapper">
{{ content }}

    <div class="action-buttons">
        <input id="bars-per-row-selector" title="
&nbsp;&nbsp;&nbsp;bars per line&nbsp;&nbsp;&nbsp;
" type="number" min="0" max="8" value="0" />
        <input id="compactify-tab-button" type="checkbox"/>
        <label for="compactify-tab-button" title="
    &nbsp;&nbsp;&nbsp;toggle compact tabs&nbsp;&nbsp;&nbsp;
">^ / v</label>
{% unless page.previous.url %}
    {% assign prevClassName = 'disabled' %}
{% endunless %}
{% unless page.next.url %}
    {% assign nextClassName = 'disabled' %}
{% endunless %}
        <a href="{{ page.previous.url | relative_url }}" id="prev-tab-button" class="{{ prevClassName }}" title="
&nbsp;&nbsp;&nbsp;previous&nbsp;&nbsp;&nbsp;
">&lt;&ndash;</a>
        <a href="{{ page.next.url | relative_url }}" id="next-tab-button" class="{{ nextClassName }}" title="
&nbsp;&nbsp;&nbsp;next&nbsp;&nbsp;&nbsp;
">&mdash;&gt;</a>
    </div>
</div>

<script>

    function range(size) {
        return [...Array(size).keys()]
    }

    function toPlaceholderTab(rawTab, height = splitLines(rawTab).length, barDividerChar = '|') {
        return splitLines(
            rawTab.replaceAll(new RegExp(`[^${barDividerChar}\\r\\n]`, 'gm'), ' ')
        )
            .slice(0, height)
            .join('\n')
    }

    function splitLines(rawText = '') {
        return rawText.split('\n').filter(Boolean)
    }

    function splitBars(rawTab, barsPerRow = 1, barDividerChar = '|') {
        if (barsPerRow <= 0 || !rawTab) {
            return []
        }

        const rows = splitLines(rawTab);
        const columnIndexes = range(rows[0].length)

        const barDividerIndexes = columnIndexes
            // filter column indexes to get only bar-dividers
            .filter(colIndex => (
                rows[0][colIndex] === barDividerChar
            ))
            // filter bar-divider indexes according to bars-per-row
            .filter((barDividerIndex, pos, arr) => (
                pos % barsPerRow === 0 || pos === arr.length - 1
            ))

        return barDividerIndexes
            .map((barDividerIndex, pos, arr) => {
                const nextBarDividerIndex = arr[pos + 1];
                if (nextBarDividerIndex) {
                    return rows.map(row => (
                        row.slice(barDividerIndex, nextBarDividerIndex).concat(barDividerChar)
                    )).join('\n')
                }
            })
            .filter(Boolean)
    }

    function joinBars(rawBars, barDividerChar = '|') {
        const barsAsRows = rawBars.map(splitLines)
        const rowIndexes = range(barsAsRows[0].length)
        return rowIndexes
            .map(rowIndex => (
                [
                    barDividerChar,
                    ...barsAsRows.map(barAsRows => {
                        const barRow = barAsRows[rowIndex]
                        return barRow.slice(barRow.indexOf(barDividerChar) + 1)
                    })
                ].join('')
            ))
            .join('\n')
    }

    function isPreEl(el) {
        return el?.tagName.toLowerCase() === 'pre'
    }

    function isMelodyBoxEl(el) {
        return el?.classList.contains('language-bbx-melody')
    }

    function isBoxGroupHead(boxEl) {
        const boxWrapperPrevEl = boxEl.parentElement.previousElementSibling
        return !isPreEl(boxWrapperPrevEl)
    }

    function createBoxEl(rawBarSegment, className) {
        const boxEl = document.createElement('code')
        boxEl.textContent = String(rawBarSegment)
        if (className) {
            boxEl.classList.add(className);
        }
        const boxWrapperEl = document.createElement('pre')
        boxWrapperEl.setAttribute('data-spawned', 'true')
        boxWrapperEl.appendChild(boxEl)
        return boxWrapperEl
    }

    function resolveMaxBoxHeight(boxEls) {
        return boxEls.reduce((accum, boxEl) => {
            const lineCount = splitLines(boxEl?.textContent).length
            return Math.max(accum, lineCount)
        }, 0);
    }

    function categorizeTabBoxes(boxEls) {
        return boxEls.reduce((accum, boxEl, index, arr) => {
            const prevBoxEl = arr[index - 1];
            if (!isMelodyBoxEl(boxEl)) {
                accum.tabBoxEls.push(boxEl)
                accum.melodyBoxEls.push(isMelodyBoxEl(prevBoxEl) ? prevBoxEl : null)
            }
            return accum
        }, { tabBoxEls: [], melodyBoxEls: [] })
    }

    function aggregateTabBoxesContent(tabBoxEls) {
        return joinBars(tabBoxEls.map(el => el.textContent));
    }

    function aggregateMelodyBoxesContent(melodyBoxEls, tabBoxEls) {
        const maxMelodyBoxHeight = resolveMaxBoxHeight(melodyBoxEls)
        return joinBars(
            melodyBoxEls.map((melodyBoxEl, index) => (
                melodyBoxEl?.textContent ?? toPlaceholderTab(tabBoxEls[index].textContent, maxMelodyBoxHeight)
            ))
        );
    }

    function resolveBoxGroups(boxEls) {
        // note: getting reliable data from text-content relies on
        // 'compact mode' being switched off at this point
        return boxEls
            .reduce((accum, boxEl) => {
                if (isBoxGroupHead(boxEl)) {
                    accum.push([])
                }
                accum[accum.length - 1].push(boxEl)
                return accum;
            }, [])
            .reduce((accum, groupBoxEls) => {
                const {
                    tabBoxEls: groupTabBoxEls,
                    melodyBoxEls: groupMelodyBoxEls,
                } = categorizeTabBoxes(groupBoxEls);

                accum.push({
                    boxEls: groupBoxEls,
                    aggregatedMelodyContent: aggregateMelodyBoxesContent(groupMelodyBoxEls, groupTabBoxEls),
                    aggregatedTabContent: aggregateTabBoxesContent(groupTabBoxEls),
                })
                return accum
            }, []);
    }

    function renderBoxGroups(boxGroups, barsPerRow) {
        boxGroups.map(boxGroup => {
            const groupFirstBoxWrapperEl = boxGroup.boxEls[0].parentElement
            const groupTabBoxContents = splitBars(boxGroup.aggregatedTabContent, barsPerRow)
            const groupMelodyBoxContents = splitBars(boxGroup.aggregatedMelodyContent, barsPerRow)

            range(groupTabBoxContents.length).map(boxIndex => {
                if (groupMelodyBoxContents?.length) {
                    const melodyBoxContent = groupMelodyBoxContents[boxIndex];
                    const melodyBoxWrapperEl = createBoxEl(melodyBoxContent, 'language-bbx-melody')
                    groupFirstBoxWrapperEl.insertAdjacentElement('beforebegin', melodyBoxWrapperEl)
                }
                const tabBoxContent = groupTabBoxContents[boxIndex]
                const tabBoxWrapperEl = createBoxEl(tabBoxContent);
                groupFirstBoxWrapperEl.insertAdjacentElement('beforebegin', tabBoxWrapperEl)
            })
        })
    }

    function compactifyTab(rawTab, spacerChar = '-') {
        const rows = splitLines(rawTab)
        const columnIndexes = range(rows[0].length)

        return columnIndexes.map(colIndex => (
            rows.reduce((accum, row) => (
                row[colIndex] !== spacerChar ? row[colIndex] : accum
            ), spacerChar)
        )).join('')
    }

    function applyTabCompactMode(isCompact) {
        const tabBoxEls = [...document.querySelectorAll('.tab-wrapper pre code:not(.language-bbx-melody)')]

        tabBoxEls.map(el => {
            if (isCompact) {
                el.setAttribute('data-full-content', el.textContent)
                el.textContent = compactifyTab(el.textContent)
            } else if (el.hasAttribute('data-full-content')) {
                el.textContent = el.getAttribute('data-full-content')
                el.removeAttribute('data-full-content')
            }
        })
    }

    function applyBarsPerRow(barCountPerRow) {
        const boxEls = [...document.querySelectorAll('.tab-wrapper pre:not([data-spawned="true"]) code')]
        const spawnedBoxEls = [...document.querySelectorAll('.tab-wrapper pre[data-spawned="true"] code')]

        // temporarily reset compact mode, if switched-on, to avoid collisions
        const currIsCompact = !!+window.localStorage.getItem('tab-compact-mode')
        if (currIsCompact) {
            applyTabCompactMode(false);
        }
        // remove previously generated elements to allow clean iteration on initial tab data
        spawnedBoxEls.map(el => el.parentElement.remove())
        // show or hide initial elements according to barCountPerRow param (0 value means revert to initial state)
        boxEls.map(el => el.parentElement.classList.toggle('hidden', barCountPerRow > 0))

        if (barCountPerRow > 0) {
            // group boxes by adjacency and aggregate their raw tab data
            const boxGroups = resolveBoxGroups(boxEls)
            // inject groups' data into the dom, with the new bar division
            renderBoxGroups(boxGroups, barCountPerRow);
            // recreate tab box event bindings on the newly spawned elements
            const spawnedTabBoxEls = [...document.querySelectorAll('.tab-wrapper pre[data-spawned="true"] code:not(.language-bbx-melody)')]
            bindTabBoxListeners(spawnedTabBoxEls);
        }

        // restore compact mode if needed
        if (currIsCompact) {
            applyTabCompactMode(true);
        }
    }

    function resolveTabBarResolution(rawTab, barDividerChar = '|') {
        // skip first item; when the first char is the separator, the first item will be empty
        return rawTab.split(barDividerChar)[1].length
    }

    function resolveTabNoteDensity(rawTab, barDividerChar = '|', spacerChar = '-') {
        const compactTab = compactifyTab(rawTab, spacerChar)
        const compactTabChars = compactTab.replace(barDividerChar, '').split('')
        const nonSpacerNotes = compactTabChars.filter(char => char !== spacerChar).length
        return (nonSpacerNotes / (compactTabChars.length / 100)).toFixed(2)
    }

    /**
     * rearrange lines according to available rows.
     * to be used in conjunction with css text-overflow, to handle lines that are too long
     */
    function fitLinesToBlock(textLines, boundingRowCount) {
        return textLines
            .reduce((accum, term, index) => {
                const metadataRowIndex = index % boundingRowCount
                accum[metadataRowIndex] = accum[metadataRowIndex] ?? []
                accum[metadataRowIndex].push(term)
                return accum
            }, [])
            .map(metadataRow => metadataRow.join(', '))
            .join('\n')
    }

    function resolveTabBoxMetadata(rawTab) {
        const noteDensity = resolveTabNoteDensity(rawTab)
        const barResolution = resolveTabBarResolution(rawTab)

        const tabMetadata = [
            `beat division: 1/${barResolution}`,
            `note density: ${(noteDensity)}%`,
        ]

        // rearrange metadata lines according to available rows in its tab box
        const tabRows = splitLines(rawTab)
        return fitLinesToBlock(tabMetadata, tabRows.length)
    }

    function toggleTabCompactMode() {
        const oldIsCompact = !!+window.localStorage.getItem('tab-compact-mode')
        const newIsCompact = !oldIsCompact
        applyTabCompactMode(newIsCompact);
        window.localStorage.setItem('tab-compact-mode', String(+newIsCompact))
    }

    function updateTabBarsPerRow({ target: { valueAsNumber } }) {
        const newBarsPerRow = valueAsNumber
        applyBarsPerRow(newBarsPerRow)
        window.localStorage.setItem('bars-per-row', String(+newBarsPerRow))
    }

    function handleActionButtonKeyboardBindings(e) {
        const {key, shiftKey, altKey} = e;
        const bindingByKey = {
            'ArrowRight': { selector: '#next-tab-button' },
            'ArrowLeft': { selector: '#prev-tab-button' },
            'ArrowUp': { selector: '#compactify-tab-button' },
            'ArrowDown': { selector: '#compactify-tab-button' },
            '—': { selector: '#bars-per-row-selector', action: 'stepDown', trigger: true },
            '±': { selector: '#bars-per-row-selector', action: 'stepUp', trigger: true },
        }

        if (!shiftKey || !altKey || !(key in bindingByKey)) {
            return
        }

        const binding = bindingByKey[key];
        const actionBtnEl = document.querySelector(`${binding.selector}:not(.disabled)`);
        if (actionBtnEl) {
            actionBtnEl[binding.action ?? 'click']()
            if (binding.trigger) {
                actionBtnEl.dispatchEvent(new Event('change'))
            }
            e.preventDefault();
        }
    }

    function loadUIState() {
        const isTabCompactMode = !!+window.localStorage.getItem('tab-compact-mode')
        document.querySelector('#compactify-tab-button').checked = isTabCompactMode
        applyTabCompactMode(isTabCompactMode)

        const barsPerRow = +window.localStorage.getItem('bars-per-row')
        document.querySelector('#bars-per-row-selector').value = barsPerRow
        applyBarsPerRow(barsPerRow)
    }

    function bindTabBoxMetadataListeners(tabBoxEls) {
        tabBoxEls.map(el => {
            // set data-attr on parent to prevent the metadata-overlay from scrolling with the child
            el.addEventListener('mouseover', ({target: {textContent, parentElement: tabBoxWrapperEl}}) => {
                const tabBoxMetadata = resolveTabBoxMetadata(textContent)
                tabBoxWrapperEl.setAttribute('data-tab-metadata', tabBoxMetadata)
            })
            el.addEventListener('mouseout', ({target: {parentElement: tabBoxWrapperEl}}) => (
                tabBoxWrapperEl.removeAttribute('data-tab-metadata')
            ))
        })
    }

    function bindActionButtonListeners() {
        document.querySelector('#compactify-tab-button').addEventListener('change', toggleTabCompactMode)
        document.querySelector('#bars-per-row-selector').addEventListener('change', updateTabBarsPerRow)
        document.addEventListener('keydown', handleActionButtonKeyboardBindings)
    }

    function bindTabBoxListeners(tabBoxEls = [...document.querySelectorAll('.tab-wrapper pre:not([data-spawned="true"]) code:not(.language-bbx-melody)')]) {
        bindTabBoxMetadataListeners(tabBoxEls)
    }

    function bindListeners() {
        bindActionButtonListeners()
        bindTabBoxListeners()
    }

    function tabPageMain() {
        loadUIState()
        bindListeners()
    }

    tabPageMain()

</script>
